@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

/* Base */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  /* Font */
  font-family: 'Helvetica', sans-serif;
  font-weight: 300;
}

body {
  min-height: 100vh;
}

/* Edit tasks */

/* .edit-task {
  display: none;
} */
